html {
	padding: 2em;
}

body {
	margin: 0 auto;
	width: 80%;
	font-family: cursive, sans-serif;
}

#top {
	overflow: auto;
}

.smiley {
	border: 3px solid black;
	float: left;
	padding: 1em;
	height: 153px;
}

.title {
	border-top: 3px solid black;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	min-height: 185px;
	text-align: center;
}

.title h1 {
	margin: 0;
	font-size: 4em;
}

.logo {
	margin: 0 auto;
	height: 5em;
	display: block;
}

.inputs {
	border: 3px solid black;
	height: 200px;
}

